.c-button {
    font-size: 16px;
    text-align: center;
    position: relative;
    transition: all ease-in-out 0.2s;
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
    padding: 18px 0;
    @media screen and (max-width: $bp-sp) {
        font-size: 24px;
        max-width: 400px;
        padding: 14px 0;
    }
    @media screen and (max-width: $bp-md) {
        font-size: 4vw;
        padding: 2.5vw 0;
    }
    &--black {
        font-family: $ff-RobotoCondensedB;
        background-color: #191919;
        border: 4px solid #fff;
        color: #fff;
        &:hover {
            color: #191919;
            background-color: #fff;
        }
    }
    &--white {
        font-family: $ff-YuGothic;
        font-weight: 700;
        background-color: #fff;
        border: 4px solid #191919;
        color: #191919;
        @media screen and (max-width: $bp-sp) {
            margin-left: 15px;
        }
        &:hover {
            color: #fff;
            background-color: #191919;
        }
    }
    &--back {
        background-color: #000;
        color: #fff;
        font-family: $ff-YuGothic;
        font-weight: 700;
        padding: 21px 0;
        align-self: center;
        border: 2px solid #000000;
        @media screen and (max-width: $bp-sp) {
            font-size: 24px;
        }
        @media screen and (max-width: $bp-md) {
            font-size: 4vw;
            padding: 3.833vw 0;
        }
        &:hover {
            background: #191919;
        }
    }
}