@import "../css/foundation/variables";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.n-details {
    padding: 60px 40px;

    @media (max-width:$bp-sp) {
        padding: 40px 15px;
    }
    @media (max-width:$bp-md) {
        padding: 6.667vw 2.5vw;
    }

    &__wrapper {
        background: #191919;
        max-width: 1200px;
        padding: 60px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;

        @media (max-width:$bp-sp) {
            padding: 40px;
        }

        @media (max-width:$bp-md) {
            padding: 6.667vw;
        }

        h4 {
            font-family: $ff-RobotoCondensedB;
            font-size: 16px;
            color: #fde232;
            margin: 0 0 15px 0;
            font-weight: 700;
    
            @media (max-width:$bp-sp) {
                font-size: 24px;
                letter-spacing: 0.8px;
            }
        }
        h2 {
            color: #ffffff;
            font-weight: bold;
            font-size: 30px;
            font-family: $ff-YuGothic;
            font-weight: 500;
            margin: 0 0 15px 0;
    
            @media (max-width:$bp-sp) {
                letter-spacing: 1.9px;
                line-height: 40px;
            }
            @media (max-width:$bp-md) {
                font-size: 5vw;
                line-height: 6.667vw;
            }
        }

        p {
            color: #ffffff;
            font-size: 16px;
            font-family: $ff-YuGothic;
            font-weight: 500;
            line-height: 24px;
            white-space: pre-line;
            margin: 30px 0 58px 0;
    
            @media (max-width:$bp-sp) {
                font-size: 24px;
                line-height: 35px;
                margin: 30px 0 40px 0;
            }
    
            @media (max-width:$bp-md) {
                font-size: 16px;
                line-height: 5.833vw;
            }
        }
    }
}

.img-holder{ 
    height: 520px;
    position: relative;
    overflow: hidden;
    z-index: 10;
    @media screen and (max-width: 1280px) {
        height: 40.625vw;
    }
    .img {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}