.u-mb-61 {
    margin-bottom: 61px;
    @media screen and (max-width: $bp-sp) {
        margin-bottom: 51px;
    }
    @media screen and (max-width: $bp-md) {
        margin-bottom: 30px;
    }
}
.u-mb-74 {
    margin-bottom: 74px;
    @media screen and (max-width: $bp-sp) {
        margin-bottom: 79px;
    }
    @media screen and (max-width: $bp-md) {
        margin-bottom: 13.167vw;
    }
}
.u-mb-40 {
    margin-bottom: 40px;
}