.l-content {
    max-width: 1200px;
    margin: -4.9vw auto 0;
    position: relative;
    z-index: 2;
    padding: 0 40px 60px;
    @media screen and (max-width: $bp-tabpc) {
        padding: 0 20px 40px;
    }
    @media screen and (max-width: $bp-sp) {
        margin: 30px auto 0;
        padding: 0 15px 40px;
    }
    @media screen and (max-width: $bp-md) {
        margin: 5vw auto 0;
        padding: 0 2.5vw 6.667vw;
    }
}